
<h1>
  <%= @user.username %>'s profile
  <small><%= link_to "edit user info", edit_user_registration_path %></small>
</h1>

<div class="row">
  <div class="col-md-9">
    <% if @user.preferred_method.present? || @user.zodiac_sign.present? %>
    <% else %>
      <h2>Tell us a bit more so we can customize your experience:</h2>
      <%= form_tag(update_user_preferences_path(@user.id)) do %>
        <div class="form-group">
          <h3>What's your preferred method of using cannabis?</h3>
          <%= label_tag :method, {}, class: 'sr-only preferred-method-form' %>
          <%= select_tag :method, options_for_select(CONSUMPTION_METHODS), class: 'form-control preferred-select' %>
        </div>
        <div class="form-group">
          <h3>What is your zodiac sign?</h3>
          <%= label_tag :sign, {}, class: 'sr-only' %>
          <%= select_tag :sign, options_for_select(ZODIAC_SIGNS), class: 'form-control zodiac-select' %>
        </div>
        <div class="form-group">
          <%= submit_tag "Update your info", class: 'btn btn-default' %>
        </div>
      <% end -%>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Ailment journal</h2>
    <%= form_for(UserAilment.new, url: from_profile_user_ailments_path) do |f| %>
      <div>Add an ailment</div>
      <%= f.hidden_field :user_id, value: @user.id %>
      <div class="form-group">
        <%= f.collection_select :ailment_id, Ailment.all, :id, :name, {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "Add ailment", class: 'btn btn-default' %>
      </div>
    <% end %>
    <% @user.user_ailments.each do |uailment| %>
        <h3>
          <%= link_to uailment.ailment.name, uailment.ailment %>
          <%= link_to user_ailment_path(uailment), class: 'btn btn-danger btn-sm', method: :delete do %>
            <i class="fa fa-times"></i> Remove
          <% end %>
        </h3>
        <div class="list-group">
        <% uailment.reviews.limit(4).each do |review|%>
          <%= link_to review, class: 'list-group-item' do %>
            <h4><%= review.product.name %></h4>
            <div><%= time_ago_in_words(review.created_at) %> ago</div>
            <%= select_tag :effectiveness, options_for_select(EFFECTIVENESS_RATINGS, review.effectiveness), class: 'rating' %>
          <% end %>
        <% end %>
        </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Highest rated products</h2>
    <%= form_tag(new_review_path, method: :get) do |f| %>
      <div>Add an journal entry for a product</div>
      <div class="form-group">
        <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name), class: 'form-control') %>
      </div>
      <div class="form-group">
        <%= submit_tag "Journal this product", class: 'btn btn-default' %>
      </div>
    <% end %>
    <div>
      <a href="#"></a>
    </div>
    <div class="list-group">
      <% @user.reviews_by_rating.limit(8).each do |review| %>
        <%= link_to review.product, class: 'list-group-item' do %>
          <h4><%= review.product.name %></h4>
          <div>for <%= review.ailment.name %></div>
          <div><small><%= review.product.description %></small></div>
          <%= select_tag :effectiveness, options_for_select(EFFECTIVENESS_RATINGS, review.effectiveness), class: 'rating' %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

