<div class="row spacer">
  <div class="col-md-3 col-lg-2">
    <div class="ailment-name-alt">
      <div class="text"><%= @ailment.name %></div>
    </div>
    <% if user_signed_in? %>
      <%= render 'ailment_status', ailment: @ailment %>
    <% end %>
    <hr>
    <h5 class="spacer hidden-sm hidden-xs">Top rated: <%= @ailment.short_name %></h5>
    <div class="list-group top-rated-products hidden-sm hidden-xs">
      <% @ailment.best_products(6).each do |product_array| %>
        <%= link_to product_array[0], class: "list-group-item list-group-item-default" do %>
          <%= product_array[0].name %>
          <div class="row spacer-sm">
            <div class="col-md-8">
              <%= select_tag :effectiveness, options_for_select(EFFECTIVENESS_RATINGS, product_array[1].to_i ), class: 'rating' %>
            </div>
            <div class="col-md-4">
              <div class="product-category-icon <%= product_array[0].category %>"><%= product_array[0].category[0].capitalize %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-7 col-lg-8">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <a href="<%= new_review_url(ailment_id: @ailment.id) %>" class="btn btn-success btn-block btn-lg">Review a treatment for <%= @ailment.short_name %></a>
      </div>
      <div class="col-md-12 col-lg-6">
        <a href="<%= @ailment.link %>" class="btn btn-default btn-block btn-lg" target="_blank">Read more about <%= @ailment.short_name %></a>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="panel panel-success panel-evidence">
      <div class="panel-body">
        <h3>
          Scientific evidence: Cannabis and <span class="inline-name"><%= @ailment.name %></span>
        </h3>
        <p><%= @ailment.featured_evidence.description %></p>
        <p><%= link_to 'link to research', @ailment.featured_evidence.link, class: 'btn btn-default', target: "_blank" %></p>
        <p><strong>Have you found any evidence to share? Add below.</strong></p>
      </div>
      <ul class="list-group">
        <% @ailment.other_evidence.each do |evidence| %>
          <%= link_to evidence, class: 'list-group-item' do %>
            <p><%= truncate(evidence.description, length: 255) %></p>
          <% end %>
        <% end %>
      </ul>
      <%= link_to new_scientific_evidence_path(ailment_id: @ailment.id), class: 'btn btn-block btn-evidence' do  %>
        <i class="fa fa-plus"></i> Add new scientific evidence
      <% end %>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>
          <span class="inline-name"><%= @ailment.name %></span> treatment reviews
        </h2>

      </div>
        <div class="list-group">
          <% @ailment.reviews.order(created_at: :desc).each do |review| %>
            <%= link_to review, class: 'list-group-item' do  %>
              <%= render 'reviews/list_group_review', review: review, context: 'ailment' %>
            <% end %>
          <% end %>
        </div>
    </div>
    <a href="<%= new_review_url(ailment_id: @ailment.id) %>" class="btn btn-success btn-block">Review a treatment for <%= @ailment.name %></a>

    <h5 class="spacer hidden-md hidden-lg">Top rated: <%= @ailment.short_name %></h5>
    <div class="list-group top-rated-products hidden-md hidden-lg">
      <% @ailment.best_products(6).each do |product_array| %>
        <%= link_to product_array[0], class: "list-group-item list-group-item-default" do %>
          <%= product_array[0].name %>
          <div class="row spacer-sm">
            <div class="col-md-8">
              <%= select_tag :effectiveness, options_for_select(EFFECTIVENESS_RATINGS, product_array[1].to_i ), class: 'rating' %>
            </div>
            <div class="col-md-4">
              <div class="product-category-icon <%= product_array[0].category %>"><%= product_array[0].category[0].capitalize %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



