<%= form_for(@scientific_evidence) do |f| %>
  <% if @scientific_evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scientific_evidence.errors.count, "error") %> prohibited this scientific_evidence from being saved:</h2>

      <ul>
      <% @scientific_evidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ailment_id %><br>
    <%= f.number_field :ailment_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :featured %><br>
    <%= f.check_box :featured %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
