<div class="row">
  <div class="col-md-4">
    <%= form_for(@scientific_evidence) do |f| %>
      <% if @scientific_evidence.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@scientific_evidence.errors.count, "error") %> prohibited this scientific_evidence from being saved:</h2>

          <ul>
          <% @scientific_evidence.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :ailment_id %><br>
        <%= f.collection_select :ailment_id, Ailment.all, :id, :name, {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :link %><br>
        <%= f.text_field :link, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :comment %><br>
        <%= f.text_area :comment, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
