<div class="product-container">
  <div class="row spacer">
    <div class="col-md-2">
      <div class="product-category-box <%= @product.category %>">
        <%= @product.category %>
      </div>
    </div>
    <div class="col-md-8">
      <h1><%= @product.name %> <small><%= @product.strain_type %></small></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nam delectus earum quo consequuntur minima perspiciatis! Suscipit unde exercitationem nisi ullam voluptas molestiae reiciendis animi inventore corporis perferendis! Voluptatum, corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo cupiditate fuga nostrum ex, nemo magni deserunt nisi ad voluptate recusandae ab, ipsa, quidem, excepturi optio? Quasi consectetur, autem facere.</p>
      <a href="<%= new_review_url(product_id: @product.id) %>" class="btn btn-success btn-block">Write a review for <%= @product.name %></a>
    </div>
  </div>
  <div class="row spacer">
    <div class="col-md-3">
      <div class="chemical-content">
        <h3>THC</h3>
        <div class="number">4%</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chemical-content">
        <h3>CBD</h3>
        <div class="number">0.4%</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chemical-content">
        <h3>CBC</h3>
        <div class="number">15%</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chemical-content">
        <h3>CBN</h3>
        <div class="number">4%</div>
      </div>
    </div>
  </div>
</div>
<div class="row spacer">
  <div class="col-md-12">
    <h2>Members have found <%= @product.name %> effective in treating:</h2>
    <ul class="ailments spacer">
      <% @product.best_ailments.each do |ailment| %>
      <li>
        <div class="ailment-name">
          <a href="<%= ailment_path(ailment.first) %>" class="ailment-name"><%= ailment.first.short_name %></a>
        </div>
      </li>
      <% end %>
    </ul>


  </div>
</div>
<div class="row spacer">
  <div class="col-md-12">
    <h2>Key attributes from member reviews of <%= @product.name %></h2>
    <div class="row">
      <div class="col-md-4">
        <h3>Positives</h3>
        <ul class="list-group">
          <% @product.reviews.limit(6).each do |review| %>
            <li class="list-group-item"><%= review.positives %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Negatives</h3>
        <ul class="list-group">
          <% @product.reviews.limit(6).each do |review| %>
            <li class="list-group-item"><%= review.negatives %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Other</h3>
        <ul class="list-group">
          <% @product.reviews.limit(6).each do |review| %>
            <li class="list-group-item"><%= review.additional_info %></li>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <h3>
          Recent member reviews of <span class="inline-name"><%= @product.name %></span>
        </h3>
        <div>
          <% @product.reviews.each do |review| %>
            <div class="row">
              <%= render 'reviews/single_review', review: review, context: 'product' %>
            </div>
            <hr>
          <% end %>
          <a href="<%= new_review_url(product_id: @product.id) %>" class="btn btn-success btn-block">Write a review for <%= @product.name %></a>
        </div>
      </div>
    </div>
  </div>
</div>

