<div class="product-container">
  <div class="row spacer">
    <div class="col-md-2">
      <div class="product-category-box <%= @product.category %>">
        <%= @product.category %>
      </div>
    </div>
    <div class="col-md-8">
      <h1><%= @product.name %> <small><%= @product.strain_type %></small></h1>
      <h4>Description coming soon!</h4>
      <a href="<%= new_review_url(product_id: @product.id) %>" class="btn btn-success btn-block">Add a journal entry for <%= @product.name %></a>
    </div>
  </div>
  <div class="row spacer">
    <div class="col-md-12">
      <h2>Members have found <%= @product.name %> effective in treating:</h2>
      <ul class="ailments spacer">
        <% @product.best_ailments(6).each do |ailment| %>
        <li>
          <div class="ailment-name">
            <a href="<%= ailment_path(ailment.first) %>" class="ailment-name"><%= ailment.first.short_name %></a>
          </div>
        </li>
        <% end %>
      </ul>


    </div>
  </div>
<!--   <div class="row spacer">
    <div class="col-md-3">
      <div class="chemical-content">
        <h3>THC</h3>
        <div class="number">4%</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chemical-content">
        <h3>CBD</h3>
        <div class="number">0.4%</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chemical-content">
        <h3>CBC</h3>
        <div class="number">15%</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chemical-content">
        <h3>CBN</h3>
        <div class="number">4%</div>
      </div>
    </div>
  </div> -->
</div>

<div class="row spacer">
  <div class="col-md-12">
    <h2>Key attributes from member reviews of <%= @product.name %></h2>
    <div class="row">
      <div class="col-md-4">
        <h3>Positives</h3>
        <ul class="list-group">
          <% @product.reviews.limit(6).each do |review| %>
            <li class="list-group-item"><%= review.positives %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Negatives</h3>
        <ul class="list-group">
          <% @product.reviews.limit(6).each do |review| %>
            <li class="list-group-item"><%= review.negatives %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Other</h3>
        <ul class="list-group">
          <% @product.reviews.limit(6).each do |review| %>
            <li class="list-group-item"><%= review.additional_info %></li>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <h2>
          Recent member reviews of <span class="inline-name"><%= @product.name %></span>
        </h2>
      </div>
      <div class="list-group">
        <% @product.reviews.each do |review| %>
          <%= link_to review, class: 'list-group-item' do  %>
            <%= render 'reviews/list_group_review', review: review, context: 'product' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <a href="<%= new_review_url(product_id: @product.id) %>" class="btn btn-success btn-block">Add a journal entry for <%= @product.name %></a>
  </div>
</div>

