<div class="row">
  <div class="col-md-5">
    <%= form_for(@review) do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="form-group">
        <%= f.label :ailment_id %>
        <div><%= link_to 'Add more ailments', current_user %> to increase your choices</div>
        <%= f.collection_select :ailment_id, current_user.ailments, :id, :name, {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :product_id %>
        <%= f.collection_select :product_id, Product.all, :id, :name_with_category, {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :method %>
        <%= f.select :method, CONSUMPTION_METHODS, {}, class: 'form-control box-select' %>
      </div>
      <div class="form-group">
        <%= f.label :amount %>
        <%= f.select :amount, CONSUMPTION_AMOUNTS, {}, class: 'form-control rating-form' %>
      </div>
      <div class="form-group">
        <%= f.label :effectiveness %>
        <%= f.select :effectiveness, EFFECTIVENESS_RATINGS, {}, class: 'form-control rating-form' %>
      </div>
      <div class="form-group">
        <%= f.label :positives, 'Positives (optional)' %>
        <%= f.text_area :positives, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :negatives, 'Negatives (optional)' %>
        <%= f.text_area :negatives, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :additional_info, 'Additional info (optional)' %>
        <%= f.text_area :additional_info, class: 'form-control' %>
      </div>
      <div class="actions">
      </div>
        <%= f.submit class: 'btn btn-default' %>
    <% end %>

  </div>
</div>


