<div class="review">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">
        <h3>
          <% if context == 'product' %>
            for <%= link_to review.ailment.name, review %>
          <% else %>
            <%= link_to review.product.name, review %>
          <% end %>
          <small><%= time_ago_in_words(review.created_at) %> ago</small>
        </h3>
      </div>
      <div class="col-md-6">
        <div class="consumption-method option <%= review.method %> selected"><%= review.method %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= select_tag :effectiveness, options_for_select(EFFECTIVENESS_RATINGS, review.effectiveness), class: 'rating' %>
      </div>
      <div class="col-md-6">
        <%= select_tag :amount, options_for_select(CONSUMPTION_AMOUNTS_BY_CATEGORY[review.product.category], review.amount), class: 'rating' %>
      </div>
    </div>
  </div>


  <div class="col-md-2">

    <div>
      <strong>Positives: </strong>
      <% if review.positives.present? %>
        <i class="fa fa-check"></i>
      <% end %>

    </div>
    <div>
      <strong>Negatives: </strong>
      <% if review.negatives.present? %>
        <i class="fa fa-check"></i>
      <% end %>
    </div>
    <div>
      <strong>Other: </strong>
      <% if review.additional_info.present? %>
        <i class="fa fa-check"></i>
      <% end %>
    </div>
  </div>
</div>
